<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>

<body>
    <header class="header">
        <a href="#" class="logo">Ticksy</a>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
            <a href="/register">Contact</a>
            <a href="/ticket">Ticket</a>
        </nav>
    </header>

    <div class="background">
        <img src="/images/blacked-bg.png" alt="Sliding Image" class="slide-up-image">
    </div>
    <!-- <div class="blurbg"></div> -->

    <div class="divider"></div>

    <div class="box1">
        <div class="box1-components">
            <div class="paras">
                <p>Transforming the Visitor Experience with Seamless, Automated Ticketing.</p>
                <p>Our online chatbot-based ticketing system transforms how visitors interact with museums. We eliminate the frustration of long queues, manual errors, and complex booking processes. By offering multilingual support and an integrated payment gateway, we ensure a seamless, fully automated experience for museum visitors. Whether booking tickets for entry or shows, our system is designed to make the process fast, simple, and secure.</p>
            </div>  
            <div class="tmpimg">
                <img src="/images/victoria-memorial-1920x1080.jpg" alt="" class="ticksyco">
            </div>
            
        </div>
    </div>
        
        <div class="divider"></div>

</body>

</html>