<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/bot.css">
</head>
<body>
  <div id="container">
    <div class="bot">
      <header>
        <div class="content1">
          <div class="name">Aether Bot</div>
          <div class="decreption">get help 24X7</div>
        </div>
        <div class="close" style="background-color: transparent">
          <i class="ri-close-large-line"></i>
        </div>
      </header>
      <main>
        <div class="message-box left">
          <p>Hi!</p>
        </div>
        <div class="message-box left">
          <p>I'm Aether Bot. I'm here to help you with any questions you might have about Museum Ticket Booking Process.</p>
        </div>
        <div class="message-box left">
          <p>How can I help you today?</p>
        </div>
        <div class="opponentResponse">
          <div class="rightSideResponse"></div>
        </div>
        <div class="Questions"></div>

        <div class="titleDropBox">
          <div class="museumDetails">
            <div class="titleBtn">
              <div class="title">Nagpur Central Museum</div>
              <div class="btn"><i class="ri-arrow-down-s-line"></i></div>
            </div>
            <div class="dropBox">
              <div class="dropBoxContent">
                <div class="content">
                  <div class="contentTitle">Address</div>
                  <div class="contentText">Civil Lines, Nagpur, Maharashtra 440001</div>
                </div>
                <div class="content">
                  <div class="contentTitle">Phone</div>
                  <div class="contentText">0712 256 0220</div>
                </div>
                <div class="content">
                  <div class="contentTitle">Open</div>
                  <div class="contentText">10:00 AM - 5:00 PM</div>
                </div>
                <div class="content">
                  <div class="contentTitle">Entry Fee</div>
                  <div class="contentText">₹5</div>
                </div>
                <div class="content">
                 
                  <button class="button type1">
                  </button>

                </div>

              </div>
            </div>
          </div>
        
 

      </main>
      <div class="footer">
        <div class="chat-input">
          <input type="text" class="message-input" placeholder="Type your message here">
          <button class="send-button">Send</button>
      </div>
      </div>
    </div>
  </div>


  <script src="/javascripts/botLogic.js"> </script>
</body>
</html>