<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/bot.css">
</head>
<body>
        
        <div class="header1">
            <a href="#" class="logo">Ticksy</a>
        
            <nav class="navbar">       
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/help">Help</a>
                <a href="/register">Contact</a>
                <a href="/ticket">Ticket</a>
            </nav>
          </div>

     
    <!-- slider -->
    <div class="slider">
        <!-- list Items -->
        <div class="list">
            <div class="item active">
                <img src="/images/the-city-palace-1920x1080.jpg">
                <div class="content">
                    <p>VISIT</p>
                    <h2>The City Palace</h2>
                    <p>
                        The City Palace Museum in Jaipur displays royal artifacts, textiles, and weaponry from Rajasthan's history. Visitors can admire the beautiful architecture and explore highlights like the Diwan-i-Khas and Peacock Gate.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/images/victoria-memorial-1920x1080.jpg">
                <div class="content">
                    <p>VISIT</p>
                    <h2>Victoria Memorial</h2>
                    <p>
                        The Victoria Memorial in Kolkata is a grand marble building dedicated to Queen Victoria, blending British and Mughal architectural styles. It houses a museum with exhibits on India's colonial history, including paintings, manuscripts, and sculptures. The lush gardens surrounding the monument add to its charm.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/images/salar-jung-1920x1080.png">
                <div class="content">
                    <p>VISIT</p>
                    <h2>Salar Jung</h2>
                    <p>
                        The Salar Jung Museum in Hyderabad is one of India's largest museums, featuring an extensive collection of art, antiques, and artifacts from around the world. Highlights include Persian carpets, European sculptures, and intricate Indian carvings. The museum is famous for its diverse exhibits, showcasing the personal collection of Salar Jung III.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/images/ins-1920x1080.jpg">
                <div class="content">
                    <p>VISIT</p>
                    <h2>INS Kursura</h2>
                    <p>
                        The INS Kursura Museum in Visakhapatnam is a unique submarine museum housed inside the decommissioned Indian Navy submarine, INS Kursura. Visitors can explore the inner workings of the submarine, learning about life aboard and the history of India's naval defense. It offers a rare glimpse into the technology and operations of submarines.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/images/partition-1920x1080.jpg">
                <div class="content">
                    <p>VISIT</p>
                    <h2>The Partition </h2>
                    <p>
                        The Partition of India was one of the most defining events in the history of the subcontinent. It remains till date the largest mass migration in human history. Yet, despite the extensive loss to life and property, almost 70 years later there existed a severe lacuna that no museum or memorial existed anywhere in the world to remember all those millions.
                    </p>
                </div>
            </div>
        </div>
        <!-- button arrows -->
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- thumbnail -->
        <div class="thumbnail">
            <div class="item active">
                <img src="/images/the-city-palace-1920x1080.jpg">
                <div class="content">
                    The City Palace
                </div>
            </div>
            <div class="item">
                <img src="/images/victoria-memorial-1920x1080.jpg">
                <div class="content">
                    Victoria Memorial
                </div>
            </div>
            <div class="item">
                <img src="/images/salar-jung-1920x1080.png">
                <div class="content">
                    Salar Jung
                </div>
            </div>
            <div class="item">
                <img src="/images/ins-1920x1080.jpg">
                <div class="content">
                    INS Kursura
                </div>
            </div>
            <div class="item">
                <img src="/images/partition-1920x1080.jpg">
                <div class="content">
                    The Partition
                </div>
            </div>
        </div>
    </div>

    <!-- BOOK A TICKET BUTTON -->
     <div class="button-container">
       <!-- <button class="button" onclick="window.location.href='/register';" >
          Book Now
          <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button> -->

        
      <!-- CHAT-BOT BUTTON -->
      <button class="chatbutton" onclick="toggleChat()">
        <div class="dots_border"></div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="sparkle"
        >
          <path
            class="path"
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke="black"
            fill="black"
            d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z"
          ></path>
          <path
            class="path"
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke="black"
            fill="black"
            d="M6 14.25L5.741 15.285C5.59267 15.8785 5.28579 16.4206 4.85319 16.8532C4.42059 17.2858 3.87853 17.5927 3.285 17.741L2.25 18L3.285 18.259C3.87853 18.4073 4.42059 18.7142 4.85319 19.1468C5.28579 19.5794 5.59267 20.1215 5.741 20.715L6 21.75L6.259 20.715C6.40725 20.1216 6.71398 19.5796 7.14639 19.147C7.5788 18.7144 8.12065 18.4075 8.714 18.259L9.75 18L8.714 17.741C8.12065 17.5925 7.5788 17.2856 7.14639 16.853C6.71398 16.4204 6.40725 15.8784 6.259 15.285L6 14.25Z"
          ></path>
          <path
            class="path"
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke="black"
            fill="black"
            d="M6.5 4L6.303 4.5915C6.24777 4.75718 6.15472 4.90774 6.03123 5.03123C5.90774 5.15472 5.75718 5.24777 5.5915 5.303L5 5.5L5.5915 5.697C5.75718 5.75223 5.90774 5.84528 6.03123 5.96877C6.15472 6.09226 6.24777 6.24282 6.303 6.4085L6.5 7L6.697 6.4085C6.75223 6.24282 6.84528 6.09226 6.96877 5.96877C7.09226 5.84528 7.24282 5.75223 7.4085 5.697L8 5.5L7.4085 5.303C7.24282 5.24777 7.09226 5.15472 6.96877 5.03123C6.84528 4.90774 6.75223 4.75718 6.697 4.5915L6.5 4Z"
          ></path>
        </svg>
        <span class="text_button">Ask Chat-Bot</span>
      </button>

      </div>
     
      <div class="chatbox" id="chatbox">

        <div class="bot">
            <header>
              <div class="content1">
                <div class="name">Aether Bot</div>
                <div class="decreption">get help 24X7</div>
                                
              </div>
              <div class="temp"><button class="close-chat" onclick="toggleChat()">×</button>
              </div>
              <div class="close" style="background-color: transparent">
                <i class="ri-close-large-line"></i>
              </div>
            </header>
            <main>
              <div class="message-box left">
                <p>Hi!</p>
              </div>
              <div class="message-box left">
                <p>I'm Aether Bot. I'm here to help you with any questions you might have about Museum Ticket Booking Process.</p>
              </div>
              <div class="message-box left">
                <p>How can I help you today?</p>
              </div>
              <div class="opponentResponse">
                <div class="rightSideResponse"></div>
              </div>
              <div class="Questions"></div>
      
              <div class="titleDropBox">
                <div class="museumDetails">
                  <div class="titleBtn">
                    <div class="title">Nagpur Central Museum</div>
                    <div class="btn"><i class="ri-arrow-down-s-line"></i></div>
                  </div>
                  <div class="dropBox">
                    <div class="dropBoxContent">
                      <div class="content">
                        <div class="contentTitle">Address</div>
                        <div class="contentText">Civil Lines, Nagpur, Maharashtra 440001</div>
                      </div>
                      <div class="content">
                        <div class="contentTitle">Phone</div>
                        <div class="contentText">0712 256 0220</div>
                      </div>
                      <div class="content">
                        <div class="contentTitle">Open</div>
                        <div class="contentText">10:00 AM - 5:00 PM</div>
                      </div>
                      <div class="content">
                        <div class="contentTitle">Entry Fee</div>
                        <div class="contentText">₹5</div>
                      </div>
                      <div class="content">
                       
                        <button class="button type1">
                        </button>
      
                      </div>
      
                    </div>
                  </div>
                </div>
              
      
            </main>
            <div class="footer">
              <div class="chat-input">
                <input type="text" class="message-input" placeholder="Type your message here">
                <button class="send-button">Send</button>
            </div>
            </div>
          </div>
      </div>
      

    <script src="/javascripts/home.js"></script>
    <script>function toggleChat() {
      const chatbox = document.getElementById('chatbox');
      chatbox.classList.toggle('open');
  }  
      </script>
      <script src="/javascripts/botLogic.js"></script>
</body>
</html>