<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Ticksy</a>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
            <a href="/register">Contact</a>
            <a href="/ticket">Ticket</a>
        </nav>
    </header>

    <div class="background">
        <img src="/images/blacked-bg.png" alt="Sliding Image" class="slide-up-image">
    </div>

    <div class="login-box">
      <p>Book A Ticket</p>
      <form>
        <div class="user-box">
          <input required="" name="" type="text">
          <label>Name</label>
        </div>
        <div class="user-box">
          <input required="" name="" type="text">
          <label>E-mail</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Confirm
        </a>
      </form>
      <p>Have to book more tickets? <a href="" class="a2">Click Here!</a></p>
    </div>

</body>
</html>
